<div data-bsi-element="form-field-date" data-bsi-element-part="form-field" data-bsi-form-field-fixed-type="" class="form-field form-element">
	<label class="label">Label</label>
	<input class="input" type="date" data-datepicker="true" value=""/>
</div>
