<div class="content-element spalten-4" data-bsi-element="spalten-4">
	<div class="row">
		<div class="flex">
			<div class="element" data-bsi-dropzone="column1" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper image-title-cta" data-bsi-element="image-title-cta">
					<div class="row">
						<div class="flex">
							<div class="element">
								<label class="flipper-card-outer">
									<input type="checkbox"/>
									<div class="flipper-card-inner">
										<div class="image">
											<img data-bsi-element-part="image" src="./img/placeholder-portrait.jpg" alt=""/>
											<div class="image-overlay">
												<div class="image-title" data-bsi-element-part="plain-text">Curabitur suscipit, tincidunt non.</div>
												<div class="image-cta">
													<div class="button">
														<div data-bsi-element-part="plain-text">Mehr erfahren</div>
													</div>
												</div>
											</div>
										</div>
										<div class="description" style="visibility: hidden;">
											<div class="description-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
											<div class="description-text wysiwyg" data-bsi-element-part="formatted-text" data-bsi-multiline="true">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
											<div class="description-button button" data-bsi-element-part="plain-text">[Mehr erfahren]</div>
										</div>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column2" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper image-title-cta" data-bsi-element="image-title-cta">
					<div class="row">
						<div class="flex">
							<div class="element">
								<label class="flipper-card-outer">
									<input type="checkbox"/>
									<div class="flipper-card-inner">
										<div class="image">
											<img data-bsi-element-part="image" src="./img/placeholder-portrait.jpg" alt=""/>
											<div class="image-overlay">
												<div class="image-title" data-bsi-element-part="plain-text">Maecenas vestibulum ligula sapien.</div>
												<div class="image-cta">
													<div class="button">
														<div data-bsi-element-part="plain-text">Mehr erfahren</div>
													</div>
												</div>
											</div>
										</div>
										<div class="description" style="visibility: hidden;">
											<div class="description-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
											<div class="description-text wysiwyg" data-bsi-element-part="formatted-text" data-bsi-multiline="true">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
											<div class="description-button button" data-bsi-element-part="plain-text">[Mehr erfahren]</div>
										</div>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column3" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper image-title-cta" data-bsi-element="image-title-cta">
					<div class="row">
						<div class="flex">
							<div class="element">
								<label class="flipper-card-outer">
									<input type="checkbox"/>
									<div class="flipper-card-inner">
										<div class="image">
											<img data-bsi-element-part="image" src="./img/placeholder-portrait.jpg" alt=""/>
											<div class="image-overlay">
												<div class="image-title" data-bsi-element-part="plain-text">Curabitur mollis diam.</div>
												<div class="image-cta">
													<div class="button">
														<div data-bsi-element-part="plain-text">Mehr erfahren</div>
													</div>
												</div>
											</div>
										</div>
										<div class="description" style="visibility: hidden;">
											<div class="description-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
											<div class="description-text wysiwyg" data-bsi-element-part="formatted-text" data-bsi-multiline="true">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
											<div class="description-button button" data-bsi-element-part="plain-text">[Mehr erfahren]</div>
										</div>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column4" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper image-title-cta" data-bsi-element="image-title-cta">
					<div class="row">
						<div class="flex">
							<div class="element">
								<label class="flipper-card-outer">
									<input type="checkbox"/>
									<div class="flipper-card-inner">
										<div class="image">
											<img data-bsi-element-part="image" src="./img/placeholder-portrait.jpg" alt=""/>
											<div class="image-overlay">
												<div class="image-title" data-bsi-element-part="plain-text">Integer tincidunt.</div>
												<div class="image-cta">
													<div class="button">
														<div data-bsi-element-part="plain-text">Mehr erfahren</div>
													</div>
												</div>
											</div>
										</div>
										<div class="description" style="visibility: hidden;">
											<div class="description-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
											<div class="description-text wysiwyg" data-bsi-element-part="formatted-text" data-bsi-multiline="true">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
											<div class="description-button button" data-bsi-element-part="plain-text">[Mehr erfahren]</div>
										</div>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
