<div data-bsi-element="form-radio-star-string" class="star-form text-output form-element">
	<div data-bsi-element-part="form-radio" class="form-field-container star-form-radio-group-container" data-bsi-value="" data-bsi-value-list="5
																																																																																																																																																																										4
																																																																																																																																																																										3
																																																																																																																																																																										2
																																																																																																																																																																										1">
		<label for="sternbewertung" class="star-form-radio-group-main-label">Wie bewerten Sie BSI Studio?</label>
		<div class="star-form-radio-group" data-bsi-radio-group="">
			<div class="star-form-radio-item" data-bsi-radio-item="" data-form-radio-selected="false">
				<input type="radio" id="sternbewertung-0" required="" name="sternbewertung" value="5"/>
				<label for="sternbewertung-0">5</label>
			</div>
			<div class="star-form-radio-item" data-bsi-radio-item="" data-form-radio-selected="false">
				<input type="radio" id="sternbewertung-1" required="" name="sternbewertung" value="4"/>
				<label for="sternbewertung-1">4</label>
			</div>
			<div class="star-form-radio-item" data-bsi-radio-item="" data-form-radio-selected="false">
				<input type="radio" id="sternbewertung-2" required="" name="sternbewertung" value="3"/>
				<label for="sternbewertung-2">3</label>
			</div>
			<div class="star-form-radio-item" data-bsi-radio-item="" data-form-radio-selected="false">
				<input type="radio" id="sternbewertung-3" required="" name="sternbewertung" value="2"/>
				<label for="sternbewertung-3">2</label>
			</div>
			<div class="star-form-radio-item" data-bsi-radio-item="" data-form-radio-selected="false">
				<input type="radio" id="sternbewertung-4" required="" name="sternbewertung" value="1"/>
				<label for="sternbewertung-4">1</label>
			</div>
		</div>
	</div>
</div>
