<div class="content-element content-column-slim" data-bsi-element="content-column-slim">
	<div class="row">
		<div class="flex-slim centered">
			<div class="element" data-bsi-dropzone="column" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps"></div>
		</div>
	</div>
</div>
