<div data-bsi-element="form-slider-group" class="form-slider-group">
	<div class="fsg-label-title-headers-result">
		<div class="fsg-label">
			<div class="inner" data-bsi-element-part="plain-text">Datentypen</div>
		</div>
		<div class="fsg-title-headers">
			<div data-bsi-element-part="plain-text" class="fsg-title">Datennutzung für ...</div>
			<div data-bsi-dropzone="headers" data-bsi-dropzone-allowed-elements="form-slider-group-header" class="fsg-headers">
				<div data-bsi-element="form-slider-group-header" class="fsg-header-element">
					<div data-bsi-element-part="plain-text" class="fsg-header">Personalisierte Inhalte (Newsletter, Werbung)</div>
				</div>
				<div data-bsi-element="form-slider-group-header" class="fsg-header-element">
					<div data-bsi-element-part="plain-text" class="fsg-header">Produktempfehlungen</div>
				</div>
				<div data-bsi-element="form-slider-group-header" class="fsg-header-element">
					<div data-bsi-element-part="plain-text" class="fsg-header">Verwendung für alle Konzerngesellschaften</div>
				</div>
				<div data-bsi-element="form-slider-group-header" class="fsg-header-element">
					<div data-bsi-element-part="plain-text" class="fsg-header">Verwendung für Dritte (anonymisiert)</div>
				</div>
			</div>
		</div>
		<div class="fsg-result">
			<div data-bsi-element-part="plain-text" class="inner">Ihre Daten-Punkte</div>
		</div>
	</div>
	<div data-bsi-dropzone="sliders" data-bsi-dropzone-allowed-elements="form-slider-group-slider" class="fsg-sliders">
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Alter, Wohnort</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Soziodemografische Daten</label>
				<input type="range" name="slider" id="slider" value="20" min="20" max="80"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Tennis, Kunst, Oper, etc.</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Interessen</label>
				<input type="range" name="slider" id="slider" value="10" min="10" max="40"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Telefon, Mail, Chat, etc.</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Bevorzugter Kontaktwege</label>
				<input type="range" name="slider" id="slider" value="10" min="10" max="40"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Depot, Kreditkarten, Fonds, etc</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Produkt &amp; Services</label>
				<input type="range" name="slider" id="slider" value="20" min="20" max="80"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Zahlungen mit EC oder Kreditkarten</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Transaktionen</label>
				<input type="range" name="slider" id="slider" value="30" min="30" max="120"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Oft frequentierte Standorte (bei eingeschaltetem Ortungsdienst)</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Geolocation</label>
				<input type="range" name="slider" id="slider" value="40" min="40" max="160"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
		<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
			<div class="fsg-tooltip" data-bsi-element-part="plain-text">Öffentlich zugängliche Daten aus LinkedIn, etc.</div>
			<div class="fsg-slider" data-bsi-element-part="form-field">
				<label for="slider">Social Media</label>
				<input type="range" name="slider" id="slider" value="50" min="50" max="200"/>
				<div class="fsg-value">0</div>
			</div>
		</div>
	</div>
	<div class="fsg-total" data-bsi-element-part="form-field">
		<label for="total">Total</label>
		<input type="number" id="total" name="total" readonly="readonly"/>
		<div class="fsg-value">0</div>
	</div>
</div>
