<div class="content-element ueberschrift" data-bsi-element="ueberschrift-h2">
	<div class="row">
		<div class="flex">
			<div class="element title">
				<h2 data-bsi-element-part="plain-text" class="title-color">Überschrift H2</h2>
			</div>
		</div>
	</div>
</div>
