<div class="content-element text" data-bsi-element="text">
	<div class="row">
		<div class="flex">
			<div class="element wysiwyg" data-bsi-element-part="formatted-text">
				<p>Für gute
					<strong>Business Software</strong>&#160;braucht es zwei. Auf der einen Seite ein Unternehmen wie Ihres, [Curabitur] das bei CRM, CTMS und anderen Applikationen eine zukunftsstarke Lösung sucht. Auf der anderen Seite einen Software-Partner, der nicht nur Bits und Bytes beherrscht, sondern auch Ihre Strategie und Ihre Prozesse versteht. Einen Partner wie BSI. Unsere CRM-Software bringt täglich Zehntausende Anwender näher an den Kunden. Auch für Contact Center, Kasse und Schalter, Versicherungen und klinische Tests bieten wir praxiserprobte Software-Produkte. Dahinter stehen offene Technologien, vielseitige Branchenerfahrung und echter Fullservice vom Konzept bis zum Betrieb. Davor stehen Sie und Ihre Ziele. Schön, dass wir uns gefunden haben.</p>
				<ul>
					<li>
						<strong>BSI CRM</strong>&#160;ist Ihr Unternehmensherz und sorgt dafür, dass Sie alle Informationen über Ihre Kunden an einem Ort haben.</li>
					<li>
						<strong>BSI Studio</strong>&#160;unterstützt Sie als mächtige Marketing-Automation-Plattform beim Customer Experience Management und der Prozess-Automatisierung.</li>
					<li>
						<strong>BSI Contact Center</strong>&#160;stellt als unermüdlicher Helfer im Kundendienst sicher, dass Agenten optimal bei ihrer Arbeit unterstützt werden.</li>
					<li>
						<strong>BSI CTMS</strong>, unsere umfassende Lösung für klinische Studien, sorgt für effizientes und nahtloses Clinical Trial Management.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
