<div class="content-element" data-bsi-element="google-maps">
	<div class="row">
		<div class="flex">
			<div class="element google-maps-element" onload="typeof window.googlemaps !== 'undefined' ? googlemaps.createMap(this) : void(0);">
				<div class="google-maps-element-address" style="display: none; " data-bsi-element-part="plain-text">Transgourmet Schweiz AG, Lochackerweg 5, CH-3302 Moosseedorf</div>
				<div class="google-maps-element-latlng" style="display: none; " data-bsi-element-part="plain-text"></div>
				<div class="google-maps-element-placeholder" style="height: 300px; background-image: url('./img/googlemaps.png');"></div>
			</div>
		</div>
	</div>
</div>
