<div data-bsi-element="farbleiste-fixe-breite" class="color-bar">
	<nav class="row color-bar-fixed-width" data-bsi-element-part="formatted-text">
		<ul class="rte-ul">
			<li>[Lösungen]</li>
			<li>[Branchen]</li>
			<li>[Produkte]</li>
			<li>[Kunden]</li>
			<li>[Über BSI]</li>
		</ul>
	</nav>
</div>
