<div data-bsi-element="form-field-horizontal" data-bsi-element-part="form-field" class="form-field form-field-horizontal form-element">
	<label class="label">Label</label>
	<input class="input" type="text" value=""/>
</div>
