<div class="content-element flex-video" data-bsi-element="video">
	<div class="row">
		<div class="element">
			<div class="responsive-video" data-bsi-element-part="video">
				<iframe width="1120" height="630" frameborder="0" class="video" src="https://www.youtube.com/embed/xOdWj6LZg1Y" allow="autoplay; encrypted-media" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>
