<div data-bsi-element="form-radio-star-numeric" class="star-form numeric-output form-element">
	<div data-bsi-element-part="form-field" class="form-field-container star-form-radio-group-container">
		<label for="sternbewertung" class="star-form-radio-group-main-label">Wie bewerten Sie BSI Studio?</label>
		<input type="number" name="sternbewertung" id="sternbewertung" min="1" max="5" step="1" value="" required="" class="hidden"/>
		<div class="star-form-radio-group" data-bsi-remove-if="draft"></div>
		<div class="star-form-radio-group" data-bsi-remove-if="live">
			<div class="star-form-radio-item" data-form-radio-selected="false">
				<input type="radio" value="5"/>
				<label>5</label>
			</div>
			<div class="star-form-radio-item" data-form-radio-selected="false">
				<input type="radio" value="4"/>
				<label>4</label>
			</div>
			<div class="star-form-radio-item" data-form-radio-selected="false">
				<input type="radio" value="3"/>
				<label>3</label>
			</div>
			<div class="star-form-radio-item" data-form-radio-selected="false">
				<input type="radio" value="2"/>
				<label>2</label>
			</div>
			<div class="star-form-radio-item" data-form-radio-selected="false">
				<input type="radio" value="1"/>
				<label>1</label>
			</div>
		</div>
	</div>
</div>
