<div data-bsi-element="footer-social">
	<div class="row">
		<div class="flex">
			<div class="element footer-social">
				<a href="https://www.facebook.com/bsiagcom" class="master-template-facebook" title="Facebook"></a>
				<a href="https://www.instagram.com/bsi_software" class="master-template-instagram" title="Instagram"></a>
				<a href="https://twitter.com/BSISoftwareDACH" class="master-template-twitter" title="Twitter"></a>
				<a href="http://www.youtube.com/user/bsiag" class="master-template-youtube" title="Youtube"></a>
				<a href="http://www.linkedin.com/company/bsi-ag" class="master-template-linkedin" title="linkedin"></a>
			</div>
		</div>
	</div>
</div>
