<div class="content-element spalten" data-bsi-element="spalten-3">
	<div class="row">
		<div class="flex">
			<div class="element" data-bsi-dropzone="column1" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper" data-bsi-element="image">
					<div class="row">
						<div class="flex">
							<div class="element">
								<div class="image">
									<img data-bsi-element-part="image" src="./img/placeholder.jpg" alt=""/>
								</div>
								<div class="image-legend" data-bsi-element-part="plain-text">Spalte 1 - Integer tincidunt. Curabitur ligula sapien, tincidunt non.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column2" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper" data-bsi-element="image">
					<div class="row">
						<div class="flex">
							<div class="element">
								<div class="image">
									<img data-bsi-element-part="image" src="./img/placeholder.jpg" alt=""/>
								</div>
								<div class="image-legend" data-bsi-element-part="plain-text">Spalte 2 - Integer tincidunt. Curabitur ligula sapien, tincidunt non.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column3" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper" data-bsi-element="image">
					<div class="row">
						<div class="flex">
							<div class="element">
								<div class="image">
									<img data-bsi-element-part="image" src="./img/placeholder.jpg" alt=""/>
								</div>
								<div class="image-legend" data-bsi-element-part="plain-text">Spalte 3 - Integer tincidunt. Curabitur ligula sapien, tincidunt non.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
