<div data-bsi-element="form-slider-group-slider" class="fsg-slider-element">
	<div class="fsg-tooltip" data-bsi-element-part="plain-text">Tooltip</div>
	<div class="fsg-slider" data-bsi-element-part="form-field">
		<label for="slider">Label</label>
		<input type="range" name="slider" id="slider" value="10" min="10" max="80"/>
		<div class="fsg-value">0</div>
	</div>
</div>
