<div class="content-element flex-video-thumbnail" data-bsi-element="video-thumbnail">
	<div class="row">
		<div class="element">
			<div class="video-thumbnail" data-bsi-element-part="video" data-bsi-video-data-url="https://www.youtube.com/watch?v=xOdWj6LZg1Y">
				<p>
					<a href="https://www.youtube.com/watch?v=xOdWj6LZg1Y" data-bsi-video-link="" target="_blank">
						<img src="https://i.ytimg.com/vi/xOdWj6LZg1Y/maxresdefault.jpg" alt="" data-bsi-video-thumbnail=""/>
					</a>
				</p>
				<h3 data-bsi-video-title="">BSI Studio: Mehr als Marketing Automation</h3>
				<p data-bsi-video-description="">So einfach geht Marketing Automation. Ob Marketing, Sales oder Service: Mit der Marketing Automation Platform BSI Studio digitalisieren Sie Ihre Kundenbeziehungen und Prozesse. Was andere Tools nur versprechen, wird mit BSI Studio Realität: Echte Marketing Automation, echte Datenintelligenz, echte Personalisierung. So können Sie den Kundendialog automatisieren – von Lead Handling bis After Sales. Für digitalisierte Unternehmensprozesse und eine lückenlos starke Customer Experience.</p>
			</div>
		</div>
	</div>
</div>
