<div class="image bild-fixe-breite-responsive" data-bsi-element="bild-fixe-breite-responsive">
	<div class="row image-wrapper">
		<img data-bsi-element-part="image" src="./img/header-image-desktop.jpg" class="header-desktop" alt=""/>
		<img data-bsi-element-part="image" src="./img/header-image-mobile.jpg" class="header-mobile" alt=""/>
		<div class="element-wrapper">
			<h1 class="element header-title" data-bsi-element-part="plain-text">Lorem ipsum</h1>
		</div>
	</div>
</div>
