<div data-bsi-element="form-textarea" data-bsi-element-part="form-textarea" class="form-field form-element">
	<label class="label">Bemerkung</label>
	<textarea rows="5" cols="20" class="textarea" maxlength="500"></textarea>
</div>
