<div class="content-element form single-column-form" data-bsi-element="single-column-form-slim">
	<div class="row">
		<div class="flex-slim centered">
			<div class="element">
				<form class="form form-wrapper" data-bsi-element-part="form" id="form">
					<div class="row">
						<ul class="form-validation" data-bsi-form-validation="">
							<li class="form-validation-item" data-bsi-form-validation-item=""></li>
						</ul>
						<div class="form-content" data-bsi-dropzone="form-content" data-bsi-dropzone-allowed-elements="form-field hidden-form-field form-field-date form-checkbox form-textarea form-select form-select-enhanced form-radio form-text form-radio-smiley form-radio-nps-string form-radio-nps-numeric abstand trenner tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code form-radio-star-string form-radio-star-numeric form-slider-group form-file-input form-tel-input form-field-horizontal"></div>

						<div class="form-button-bar">
							<div class="form-button-container submit">
								<input type="submit" class="form-button send" value="Senden"/>
							</div>
							<div class="form-button-container reset">
								<input type="reset" class="form-button reset" value="Zurücksetzen"/>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
