<div data-bsi-element="form-select-enhanced" data-bsi-element-part="form-select" class="form-field-container form-select-enhanced form-element flag-option-list-first-item-is-placeholder">
	<label class="label">Label</label>
	<div class="select-wrapper" required="">
		<select size="1">
			<option value="Bitte wählen">Bitte wählen</option>
			<option value="1">1. erweiterte Option</option>
		</select>
		<div class="dropdown" role="presentation">a</div>
	</div>
</div>
