<div class="content-element news" data-bsi-element="news-snippets" data-bsi-element-part="news-snippets">
	<div data-bsi-news-snippet="" class="row">
		<div class="flex news-snippet">
			<div class="news-image element">
				<img class="ns-image" src="./img/placeholder.jpg" data-bsi-property="image"/>
			</div>
			<div class="news-text element">
				<h2 class="ns-title" data-bsi-property="title">Breaking News</h2>
				<p class="ns-headline" data-bsi-property="headline">Alien Life May Exist on Exoplanet Moons</p>
				<p class="ns-text" data-bsi-property="text">Lorem ipsum dolor sit amet, ea vis odio voluptua, pri ei facer denique. Nobis minimum lucilius cum ei, at mel everti vocibus. Mea vide vidit option ut, placerat instructior eu mei, ei dolor tation latine mea.</p>
			</div>
		</div>
	</div>
</div>
