<div data-bsi-element="form-radio-nps-string" class="nps-form text-output form-element">
	<div data-bsi-element-part="form-radio" class="form-field-container nps-form-radio-group-container" data-bsi-value="" data-bsi-value-list="0
																																																																																																																																																																		1
																																																																																																																																																																		2
																																																																																																																																																																		3
																																																																																																																																																																		4
																																																																																																																																																																		5
																																																																																																																																																																		6
																																																																																																																																																																		7
																																																																																																																																																																		8
																																																																																																																																																																		9
																																																																																																																																																																		10">
		<label for="npsumfrage" class="nps-form-radio-group-main-label">Wie wahrscheinlich ist es, dass Sie BSI Studio weiterempfehlen werden?</label>
		<div class="nps-form-radio-group clearfix" data-bsi-radio-group="">
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-0" required="" name="npsumfrage" value="0"/>
				<label for="npsumfrage-0">0</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-1" required="" name="npsumfrage" value="1"/>
				<label for="npsumfrage-1">1</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-2" required="" name="npsumfrage" value="2"/>
				<label for="npsumfrage-2">2</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-3" required="" name="npsumfrage" value="3"/>
				<label for="npsumfrage-3">3</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-4" required="" name="npsumfrage" value="4"/>
				<label for="npsumfrage-4">4</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-5" required="" name="npsumfrage" value="5"/>
				<label for="npsumfrage-5">5</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-6" required="" name="npsumfrage" value="6"/>
				<label for="npsumfrage-6">6</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-7" required="" name="npsumfrage" value="7"/>
				<label for="npsumfrage-7">7</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-8" required="" name="npsumfrage" value="8"/>
				<label for="npsumfrage-8">8</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-9" required="" name="npsumfrage" value="9"/>
				<label for="npsumfrage-9">9</label>
			</div>
			<div class="nps-form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="npsumfrage-10" required="" name="npsumfrage" value="10"/>
				<label for="npsumfrage-10">10</label>
			</div>
		</div>
		<div class="nps-form-radio-range-description clearfix">
			<label data-bsi-element-part="plain-text" class="impossible">Unwahrscheinlich</label>
			<label data-bsi-element-part="plain-text" class="very-possible">Sehr wahrscheinlich</label>
		</div>
	</div>
</div>
