<div data-bsi-element="form-radio-nps-numeric" class="nps-form numeric-output form-element">
	<div data-bsi-element-part="form-field" class="form-field-container nps-form-radio-group-container">
		<label for="npsumfrage" class="nps-form-radio-group-main-label">Wie wahrscheinlich ist es, dass Sie BSI Studio weiterempfehlen werden?</label>
		<input type="number" name="npsumfrage" id="npsumfrage" min="0" max="10" step="1" value="" required="" class="hidden"/>
		<div class="nps-form-radio-group clearfix" data-bsi-remove-if="draft"></div>
		<div class="nps-form-radio-group clearfix" data-bsi-remove-if="live">
			<div class="nps-form-radio-item">
				<input type="radio" value="0"/>
				<label>0</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="1"/>
				<label>1</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="2"/>
				<label>2</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="3"/>
				<label>3</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="4"/>
				<label>4</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="5"/>
				<label>5</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="6"/>
				<label>6</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="7"/>
				<label>7</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="8"/>
				<label>8</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="9"/>
				<label>9</label>
			</div>
			<div class="nps-form-radio-item">
				<input type="radio" value="10"/>
				<label>10</label>
			</div>
		</div>
		<div class="nps-form-radio-range-description clearfix">
			<label data-bsi-element-part="plain-text" class="impossible">Unwahrscheinlich</label>
			<label data-bsi-element-part="plain-text" class="very-possible">Sehr wahrscheinlich</label>
		</div>
	</div>
</div>
