<div data-bsi-element="footer-spalten-1">
	<div class="row">
		<div class="flex">
			<div class="element copyright-text">
			<p>©&nbsp;<time id="copyright-year"></time>&nbsp;</p>
			<div data-bsi-element-part="formatted-text">
				<p> [Transgourmet Schweiz AG|url=https://www.transgourmet.ch]</p>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="divider element"></div>
		</div>
		<div class="flex">
			<div class="element" data-bsi-element-part="formatted-text">
				<p>[Impressum|url=https://www.transgourmet.ch/impressum] | [Datenschutz|url=https://www.transgourmet.ch/datenschutz] | [AGB|url=https://www.transgourmet.ch/agb]</p>
			</div>
		</div>
	</div>
</div>
