<div data-bsi-element="form-checkbox" data-bsi-element-part="form-checkbox" class="form-field-container form-checkbox form-element">
	<input type="checkbox" id="checkbox1"/>
	<label for="checkbox1">Checkbox 1</label>
</div>
