<div class="content-element tabelle" data-bsi-element="tabelle">
	<div class="row">
		<div class="flex">
			<div class="element wysiwyg tablesaw table-has-stripes" data-bsi-element-part="table">
				<table>
					<colgroup>
						<col/>
						<col/>
						<col/>
						<col/>
						<col/>
					</colgroup>
					<tbody>
						<tr>
							<th>Titel 1</th>
							<th>Titel 2</th>
							<th>Titel 3</th>
							<th>Titel 4</th>
							<th>Titel 5</th>
						</tr>
						<tr>
							<td>Text 1</td>
							<td>Text 2</td>
							<td>Text 3</td>
							<td>Text 4</td>
							<td>Text 5</td>
						</tr>
						<tr>
							<td>Text 1</td>
							<td>Text 2</td>
							<td>Text 3</td>
							<td>Text 4</td>
							<td>Text 5</td>
						</tr>
						<tr>
							<td>Text 1</td>
							<td>Text 2</td>
							<td>Text 3</td>
							<td>Text 4</td>
							<td>Text 5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
