<div class="content-element spalten" data-bsi-element="spalten-2">
	<div class="row">
		<div class="flex">
			<div class="element" data-bsi-dropzone="column1" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element image-wrapper" data-bsi-element="image">
					<div class="row">
						<div class="flex">
							<div class="element">
								<div class="image">
									<img data-bsi-element-part="image" src="./img/placeholder.jpg" alt=""/>
								</div>
								<div class="image-legend" data-bsi-element-part="plain-text">Spalte 1 - Integer tincidunt. Curabitur ligula sapien, tincidunt non.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element" data-bsi-dropzone="column2" data-bsi-dropzone-allowed-elements="farbleiste-fixe-breite video video-thumbnail widget-html ueberschrift-h1 ueberschrift-h2 ueberschrift-h3 text text-rich trenner hervorgehobener-inhalt-primary hervorgehobener-inhalt-secondary tabelle ugm-ranking image image-no-legend image-title-cta image-swipe-links qr-code button button-fullwidth news-snippets abstand google-maps">
				<div class="content-element text" data-bsi-element="text">
					<div class="row">
						<div class="flex">
							<div class="element wysiwyg" data-bsi-element-part="formatted-text">
								<p>Für gute
									<strong>Business Software</strong>braucht es zwei. Auf der einen Seite ein Unternehmen wie Ihres, [Curabitur] das bei CRM, CTMS und anderen Applikationen eine zukunftsstarke Lösung sucht. Auf der anderen Seite einen Software-Partner, der nicht nur Bits und Bytes beherrscht, sondern auch Ihre Strategie und Ihre Prozesse versteht. Einen Partner wie BSI. Unsere CRM-Software bringt täglich Zehntausende Anwender näher an den Kunden. Auch für Contact Center, Kasse und Schalter, Versicherungen und klinische Tests bieten wir praxiserprobte Software-Produkte. Dahinter stehen offene Technologien, vielseitige Branchenerfahrung und echter Fullservice vom Konzept bis zum Betrieb. Davor stehen Sie und Ihre Ziele. Schön, dass wir uns gefunden haben.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
