<div class="content-element tabelle ugm-ranking" data-bsi-element="ugm-ranking">
	<div class="row">
		<div class="flex">
			<div class="element wysiwyg tablesaw" data-bsi-element-part="iterator">
				<table>
					<tbody>
						<tr>
							<th>Name</th>
							<th>Firma</th>
							<th>Match</th>
							<th>Bild</th>
						</tr>
						<tr data-bsi-iterator-item="">
							<td>{ugm2019-buddies.firstname} {ugm2019-buddies.lastname}</td>
							<td>{ugm2019-buddies.company}</td>
							<td>{ugm2019-buddies.distance}</td>
							<td>
								<img src="{ugm2019-buddies.image}" alt=""/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
