<div class="content-element image-wrapper qr-code" data-bsi-element="qr-code">
	<div class="row">
		<div class="flex">
			<div class="element">
				<div class="image">
					<img data-bsi-element-part="image" src="&lt;QR-Code&gt;" alt="QR-Code" data-bsi-dynamic-src="true" class="qr-code-image"/>
					<img src="./img/qr-code-placeholder.png" class="qr-code-image-placeholder" alt="QR-Code"/>
				</div>
				<div class="image-legend" data-bsi-element-part="plain-text">Persönlicher QR-Code</div>
			</div>
		</div>
	</div>
</div>
