<div data-bsi-element="form-radio-smiley" data-bsi-element-part="form-radio" class="form-field-container form-radio-smiley form-element" data-bsi-value="" data-bsi-value-list="happy
																																																																																																																						neutral
																																																																																																																						unhappy">
	<label for="satisfaction" style="display: none; ">Zufriedenheit</label>
	<div class="form-radio-group satisfaction clearfix" data-bsi-radio-group="">
		<div class="form-radio-item" data-bsi-radio-item="">
			<input type="radio" id="happy" name="satisfaction" value="happy"/>
			<label for="happy">happy</label>
		</div>
		<div class="form-radio-item" data-bsi-radio-item="">
			<input type="radio" id="neutral" name="satisfaction" value="neutral"/>
			<label for="neutral">neutral</label>
		</div>
		<div class="form-radio-item" data-bsi-radio-item="">
			<input type="radio" id="unhappy" name="satisfaction" value="unhappy"/>
			<label for="unhappy">unhappy</label>
		</div>
	</div>
</div>
