<div class="content-element chart-wrapper pie-chart" data-bsi-element="pie-chart">
	<div class="row">
		<div class="flex">
			<div class="element chart">
				<canvas width="100" height="100"></canvas>
			</div>
			<div class="element wysiwyg" data-bsi-element-part="iterator">
				<table>
					<tbody>
						<tr>
							<th>Type</th>
							<th>Value</th>
						</tr>
						<tr data-bsi-iterator-item="">
							<td>{ugm2019-chart.type}</td>
							<td>{ugm2019-chart.value}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
