<div data-bsi-element="form-tel-input" data-bsi-element-part="form-field" data-bsi-form-field-fixed-type="" class="form-field form-element form-tel-input element-width-full">
	<label class="label">Label</label>
	<input class="input form-tel-input-element" type="tel" value=""/>
	<div data-bsi-remove-if="draft" class="normalizedValueHolder" role="presentation" aria-hidden="true"></div>
	<div class="hidden" role="presentation" aria-hidden="true">
		<label data-bsi-element-part="plain-text" class="only-countries">de,ch,at,li,it,fr</label>
	</div>
	<div class="hidden" role="presentation" aria-hidden="true">
		<label data-bsi-element-part="plain-text" class="preferred-countries">ch,de,at</label>
	</div>
	<div class="hidden" role="presentation" aria-hidden="true">
		<label data-bsi-element-part="plain-text" class="errormessage_invalid">Die Telefonnummer ist nicht korrekt.</label>
	</div>
</div>
