<div class="element navigation" data-bsi-element="navigation">
	<button class="navigation-trigger" type="button" data-active="false">
		<div class="navigation-trigger-box">
			<div class="navigation-trigger-inner"></div>
		</div>
	</button>
	<nav data-bsi-element-part="formatted-text">
		<ul class="rte-ul">
			<li class="rte-li">
				<div class="rte-line">[News und Events]
					<br/></div>
				<ul class="rte-ul">
					<li class="rte-li">
						<div class="rte-line">[Fleisch]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Fisch und Seafood]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Nachhaltig]
							<br/></div>
					</li>
				</ul>
			</li>
			<li class="rte-li">
				<div class="rte-line">[Über uns]
					<br/></div>
				<ul class="rte-ul">
					<li class="rte-li">
						<div class="rte-line">[Geschäftsleitung]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Unser Leitbild]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Zahlen im Überblick]
							<br/></div>
					</li>
				</ul>
			</li>
			<li class="rte-li">
				<div class="rte-line">[Service]
					<br/></div>
				<ul class="rte-ul">
					<li class="rte-li">
						<div class="rte-line">[Digitale Services]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Eigenmarken]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Regional]
							<br/></div>
					</li>
				</ul>
			</li>
			<li class="rte-li">
				<div class="rte-line">[Karriere]
					<br/></div>
				<ul class="rte-ul">
					<li class="rte-li">
						<div class="rte-line">[Mach den Unterschied]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Unsere Unternehmensbereiche]
							<br/></div>
					</li>
					<li class="rte-li">
						<div class="rte-line">[Stellenangebote]
							<br/></div>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
