<div data-bsi-element="footer-spalten-3">
	<div class="row">
		<div class="flex">
			<div class="element" data-bsi-element-part="formatted-text">
				<p>Transgourmet Schweiz AG
					<br/>Lochackerweg 5
					<br/>CH-3302 Moosseedorf
					<br/>Telefon +41 31 858 48 48
					<br/>Fax +41 31 858 48 48</p>
			</div>
			<div class="element" data-bsi-element-part="formatted-text">
				<ul>
					<li>
						<strong>Unsere Lösungen</strong>
					</li>
					<li>[BSI für Sales]</li>
					<li>[BSI für Marketing]</li>
					<li>[BSI für Service]</li>
					<li>[CRM]</li>
					<li>[Marketing Automation]</li>
					<li>[Omni-Channel]</li>
				</ul>
			</div>
			<div class="element" data-bsi-element-part="formatted-text">
				<ul>
					<li>
						<strong>Unsere Produkte</strong>
					</li>
					<li>[BSI CRM]</li>
					<li>[BSI Studio]</li>
					<li>[BSI Contact Center]</li>
					<li>[BSI CTMS]</li>
					<li>[Branchen-Software]</li>
					<li>[Individual-Software]</li>
				</ul>
			</div>
		</div>
	</div>
</div>
