<div data-bsi-element="cookie-banner" class="cookie-banner">
<swc-cookie-banner
 language= {{properties.cookie.lang}}
 link= {{properties.cookie.href}}
 text-color="#ffffff"
 font-family="coopregular"
 background-color="rgba(0, 0, 0, 0.8)">
</swc-cookie-banner> 
</div>