<div class="text" data-bsi-element="footer-company">
	<div class="row">
		<div class="flex">
			<div class="element">
				<p>© <time id="copyright-year"></time><span data-bsi-element-part="plain-text">Transgourmet Schweiz AG</span></p>
			</div>
		</div>
	</div>
</div>
