<div class="widget-html" data-bsi-element="widget-html" data-bsi-element-part="html">
	<div class="content-element">
		<div class="row">
			<div class="element">
				<iframe src="https://www.openstreetmap.org/export/embed.html?bbox=8.280322551727297%2C47.44607005539937%2C8.298926353454592%2C47.454515057366486&amp;layer=mapnik" style="height: 500px;"></iframe>
			</div>
		</div>
	</div>
</div>
