<div class="image bild-ganze-breite-responsive" data-bsi-element="bild-ganze-breite-responsive">
	<img data-bsi-element-part="image" src="./img/header-image-desktop.jpg" class="header-desktop" alt=""/>
	<img data-bsi-element-part="image" src="./img/header-image-mobile.jpg" class="header-mobile" alt=""/>
	<div class="row-wrapper">
		<div class="row">
			<h1 class="header-title element h1--black" data-bsi-element-part="plain-text">Willkommen bei Transgourmet/Prodega</h1>
		</div>
	</div>
</div>
