<div data-bsi-element="farbleiste-ganze-breite" class="color-bar">
	<nav class="color-bar-full-width">
		<div class="row" data-bsi-element-part="formatted-text">
			<ul class="rte-ul">
				<li>[Lösungen]</li>
				<li>[Branchen]</li>
				<li>[Produkte]</li>
				<li>[Kunden]</li>
				<li>[Über BSI]</li>
			</ul>
		</div>
	</nav>
</div>
