<div class="content-element image-wrapper image-title-cta" data-bsi-element="image-title-cta">
	<div class="row">
		<div class="flex">
			<div class="element">
				<label class="flipper-card-outer">
					<input type="checkbox"/>
					<div class="flipper-card-inner">
						<div class="image">
							<img data-bsi-element-part="image" src="./img/placeholder-portrait.jpg" alt=""/>
							<div class="image-overlay">
								<div class="image-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
								<div class="image-cta">
									<div class="button">
										<div data-bsi-element-part="plain-text">Mehr erfahren</div>
									</div>
								</div>
							</div>
						</div>
						<div class="description" style="visibility: hidden;">
							<div class="description-title" data-bsi-element-part="plain-text">Lorem ipsum</div>
							<div class="description-text wysiwyg" data-bsi-element-part="formatted-text" data-bsi-multiline="true">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
							<div class="description-button button" data-bsi-element-part="plain-text">[Mehr erfahren]</div>
						</div>
					</div>
				</label>
			</div>
		</div>
	</div>
</div>
