<div data-bsi-element="form-radio" data-bsi-element-part="form-radio" class="form-field-container form-radio form-element">
	<div class="form-radio-group">
		<label style="display: none; "></label>
		<div data-bsi-radio-group="">
			<div class="form-radio-item" data-bsi-radio-item="">
				<input type="radio" id="radio1"/>
				<label for="radio1">Radio-Button 1</label>
			</div>
		</div>
	</div>
</div>
